## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there sam!"
result=s.split(" ")
result

['Hi', 'there', 'sam!']

In [3]:
result[2]='dad!'
result

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
output=("The diameter of {planet} is {diameter} kilometrs.").format(planet = "Earth", diameter = 12742)

In [5]:
output

'The diameter of Earth is 12742 kilometrs.'

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [10]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [11]:
# list is mutable, tuple is immutabe  
#list can be represented as [],tuples can be represented as ()
#list allows duplicate elements,tuples doesn't allows duplicate elements
#list can be created use list keyword ,tuple can be created use tuple keyword

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [12]:
def email(input):
  return input.split('@')[1]

In [13]:
email("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [16]:
def dog_true(input):
  return 'dog' in input.lower().split()

In [17]:
dog_true('Dog make us feel less alone')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [18]:
def Dog_count(input):
    c= 0
    for x in input.lower().split():
        if x == 'dog':
            c += 1
    return c

In [19]:
Dog_count('A dog is the perfect exercise partner,so i love dog')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [20]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [22]:
caught_speeding(85,False)

'Big Ticket'

In [23]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [24]:
employee=[15000,300456,25000,100000,550000]
total=0
print("employees list:")
for i in employee:
  print(i)
  total=total+i
print('total salary expenditure:')
print(total)

employees list:
15000
300456
25000
100000
550000
total salary expenditure:
990456

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [25]:
def Merge_dict(First, Second):
    for i in Second.keys():
        First[i]=Second[i]
    return First
First={'Empid':1, 'Empname':'vishali', 'Basicpay':'11 lpa'}
Second={'DeptName':'ECE','DeptId':123}
dict1= Merge_dict(First,Second)
dict1

{'Empid': 1,
 'Empname': 'vishali',
 'Basicpay': '11 lpa',
 'DeptName': 'ECE',
 'DeptId': 123}