In [ ]:
import numpy as np
import pandas as p
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [ ]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [ ]:
data = p.read_csv('/content/drive/MyDrive/Colab Notebooks/Heart_Disease_Prediction.csv')

In [ ]:
data

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [ ]:
X= data[['Age','Sex','Chest pain type','BP','Cholesterol','FBS over 120','EKG results','Max HR','Exercise angina','ST depression','Slope of ST','Number of vessels fluro',
         'Thallium']]
Y= data['Heart Disease']

In [ ]:
data.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.20)

In [ ]:
log_reg= LogisticRegression()
log_reg.fit(X_train,Y_train)
Y_pred=log_reg.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(Y_test,Y_pred))

Accuracy :  0.8148148148148148

In [ ]:
print (Y_pred)

['Presence' 'Absence' 'Absence' 'Absence' 'Absence' 'Absence' 'Absence'
 'Absence' 'Presence' 'Presence' 'Presence' 'Presence' 'Presence'
 'Absence']

In [ ]:
heart_Disease={'Age':[44],'Sex':[1],'Chest pain type':[3],'BP':[140],'Cholesterol':[235],'FBS over 120':[0],'EKG results':[2],'Max HR':[180],'Exercise angina':[0],
               'ST depression':[0],'Slope of ST':[1],'Number of vessels fluro':[0],
         'Thallium':[3]}
df2 = p.DataFrame(heart_Disease,columns= ['Age','Sex','Chest pain type','BP','Cholesterol','FBS over 120','EKG results','Max HR',
                                          'Exercise angina','ST depression','Slope of ST','Number of vessels fluro','Thallium'])
Y_pred=log_reg.predict(df2)
print (Y_pred)

['Absence']