## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [2]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [7]:
s = "Hi there Sam!"
ramya=s.split(" ")
ramya

['Hi', 'there', 'Sam!']

In [6]:
ramya[2]='dad!'
ramya

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [12]:
txt1 = ("The diameter of {planet} is {diameter} kilometers.").format(planet = "Earth", diameter = 12742)

In [11]:
txt1

'The diameter of Earth is 12742 kilometers.'

** Given this nested list, use indexing to grab the word "hello" **

In [14]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [15]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [18]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable, list is mutable
#list can be represented as [],tuples can be represented as ()
#list allows duplicate elements,tuples doesn't allows duplicate elements
#list can be created use list keyword ,tuple can be created use tuple keyword

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [21]:
def email(input):
  return input.split('@')[1]

In [22]:
email("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [25]:
def dog(input):
   return 'dog' in input.lower().split()

In [46]:
dog('i am dog')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [27]:
def Dog(input):
    c= 0
    for x in input.lower().split():
        if x == 'dog':
            c += 1
    return c

In [29]:
Dog("hi my name is dog my father name is also dog")

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [31]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [32]:
caught_speeding(81,False)

'Big Ticket'

In [33]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [44]:
employee=[12000,13456,25577,24565,34578]
tot=0
print("employee list:")
for i in employee:
  print(i)
  tot=tot+i
print('total salary expenditure:')
print(tot)

employee list:
12000
13456
25577
24565
34578
total salary expenditure:
110176

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [40]:
def Merge(First, Second):
    for i in Second.keys():
        First[i]=Second[i]
    return First
First={'Empid':1, 'Empname':'ramya', 'Basicpay':'10 lpa'}
Second={'DeptName':'ECE','DeptId':51}
dict1= Merge(First,Second)
dict1

{'Empid': 1,
 'Empname': 'ramya',
 'Basicpay': '10 lpa',
 'DeptName': 'ECE',
 'DeptId': 51}